@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #272C34;
  color: #fff;
  overflow: hidden;
  font-family: 'Open-Sans', Helvetica, sans-serif;
  font-weight: 300;
}

.frame .moon {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 45px;
  left: 55px;
  border-radius: 50%;
  background: #F6EDBD;
  -webkit-box-shadow: 0 0 10px 0 #F6EDBD;
          box-shadow: 0 0 10px 0 #F6EDBD;
  -webkit-animation: rise 1s ease-out;
          animation: rise 1s ease-out;
  overflow: hidden;
}

.frame .moon .crater-1, .frame .moon .crater-2, .frame .moon .crater-3, .frame .moon .crater-4, .frame .moon .crater-5, .frame .moon .crater-6, .frame .moon .crater-7, .frame .moon .crater-8, .frame .moon .crater-9, .frame .moon .crater-10, .frame .moon .crater-11 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 28px;
  border-radius: 10px;
  background: #ECE1A8;
}

.frame .moon .crater-2 {
  top: 12px;
  left: 0;
}

.frame .moon .crater-3 {
  top: 56px;
  left: 10px;
}

.frame .moon .crater-4, .frame .moon .crater-5, .frame .moon .crater-6, .frame .moon .crater-7, .frame .moon .crater-8, .frame .moon .crater-9 {
  width: 6px;
  height: 6px;
  top: 37px;
  left: 49px;
}

.frame .moon .crater-5 {
  top: 24px;
  left: 61px;
}

.frame .moon .crater-6 {
  top: 55px;
  left: 33px;
}

.frame .moon .crater-7 {
  top: 17px;
  left: 46px;
}

.frame .moon .crater-8 {
  top: 28px;
  left: 27px;
}

.frame .moon .crater-9 {
  top: 39px;
  left: 17px;
}

.frame .moon .crater-10, .frame .moon .crater-11 {
  width: 4px;
  height: 4px;
  top: 25px;
  left: 15px;
}

.frame .moon .crater-11 {
  top: 37px;
  left: 37px;
}

.frame .hill-bg-1 {
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: lightblue;
}

.frame .hill-bg-2 {
  position: absolute;
  bottom: -100px;
  right: -80px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: lightblue;
}

.frame .hill-fg-1 {
  position: absolute;
  bottom: -90px;
  left: -50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: green;
}

.frame .hill-fg-2 {
  position: absolute;
  bottom: -120px;
  left: 80px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: green;
}

.frame .hill-fg-3 {
  position: absolute;
  bottom: -50px;
  right: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: green;
}

.frame .weather-details {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 90px;
  background: white;
  color: black;
}

.frame .weather-details .temperature,
.frame .weather-details .weather-info,
.frame .weather-details .forecast {
  display: inline-block;
}

.frame .weather-details .temperature {
  width: 25%;
  margin: 1.2rem 0 0 1rem;
  font-size: 3rem;
}

.frame .weather-details .weather-info {
  width: 35%;
}

.frame .weather-details .weather-info p {
  margin: 0;
  line-height: 1.4;
}

.frame .weather-details .forecast {
  position: relative;
  top: .4rem;
}

.frame .big-raindrop-1, .frame .med-raindrop-1, .frame .med-raindrop-2, .frame .med-raindrop-3, .frame .med-raindrop-4, .frame .med-raindrop-5, .frame .med-raindrop-6, .frame .med-raindrop-7, .frame .med-raindrop-8, .frame .med-raindrop-9, .frame .med-raindrop-10, .frame .small-raindrop-1, .frame .small-raindrop-2, .frame .small-raindrop-3, .frame .small-raindrop-4, .frame .small-raindrop-5, .frame .small-raindrop-6, .frame .small-raindrop-7, .frame .small-raindrop-8, .frame .small-raindrop-9, .frame .small-raindrop-10 {
  position: absolute;
  z-index: 20;
  left: 18px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  background-color: #7FC1F9;
  border-radius: 0 50% 50% 50%;
  -webkit-animation: drop 0.9s linear 0.32s infinite;
          animation: drop 0.9s linear 0.32s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.frame .big-raindrop-2 {
  position: absolute;
  z-index: 20;
  left: 56px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  background-color: #7FC1F9;
  border-radius: 0 50% 50% 50%;
  -webkit-animation: drop 0.8s linear 1.52s infinite;
          animation: drop 0.8s linear 1.52s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.frame .big-raindrop-3 {
  position: absolute;
  z-index: 20;
  left: 94px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  background-color: #7FC1F9;
  border-radius: 0 50% 50% 50%;
  -webkit-animation: drop 0.8s linear 0.04s infinite;
          animation: drop 0.8s linear 0.04s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.frame .big-raindrop-4 {
  position: absolute;
  z-index: 20;
  left: 132px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  background-color: #7FC1F9;
  border-radius: 0 50% 50% 50%;
  -webkit-animation: drop 0.8s linear 1.76s infinite;
          animation: drop 0.8s linear 1.76s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.frame .big-raindrop-5 {
  position: absolute;
  z-index: 20;
  left: 170px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  background-color: #7FC1F9;
  border-radius: 0 50% 50% 50%;
  -webkit-animation: drop 0.9s linear 1s infinite;
          animation: drop 0.9s linear 1s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.frame .big-raindrop-6 {
  position: absolute;
  z-index: 20;
  left: 208px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  background-color: #7FC1F9;
  border-radius: 0 50% 50% 50%;
  -webkit-animation: drop 0.9s linear 0.68s infinite;
          animation: drop 0.9s linear 0.68s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.frame .big-raindrop-7 {
  position: absolute;
  z-index: 20;
  left: 246px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  background-color: #7FC1F9;
  border-radius: 0 50% 50% 50%;
  -webkit-animation: drop 0.8s linear 1.6s infinite;
          animation: drop 0.8s linear 1.6s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.frame .big-raindrop-8 {
  position: absolute;
  z-index: 20;
  left: 284px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  background-color: #7FC1F9;
  border-radius: 0 50% 50% 50%;
  -webkit-animation: drop 0.9s linear 1.84s infinite;
          animation: drop 0.9s linear 1.84s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.frame .big-raindrop-9 {
  position: absolute;
  z-index: 20;
  left: 322px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  background-color: #7FC1F9;
  border-radius: 0 50% 50% 50%;
  -webkit-animation: drop 0.9s linear 1.36s infinite;
          animation: drop 0.9s linear 1.36s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.frame .big-raindrop-10 {
  position: absolute;
  z-index: 20;
  left: 360px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  background-color: #7FC1F9;
  border-radius: 0 50% 50% 50%;
  -webkit-animation: drop 0.8s linear 1.32s infinite;
          animation: drop 0.8s linear 1.32s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.frame .med-raindrop-1 {
  left: 18px;
  width: 6px;
  height: 6px;
  opacity: .6;
  -webkit-animation: drop 1.4s linear 0.68s infinite;
          animation: drop 1.4s linear 0.68s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .med-raindrop-2 {
  left: 56px;
  width: 6px;
  height: 6px;
  opacity: .6;
  -webkit-animation: drop 1.5s linear 2s infinite;
          animation: drop 1.5s linear 2s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .med-raindrop-3 {
  left: 94px;
  width: 6px;
  height: 6px;
  opacity: .6;
  -webkit-animation: drop 1.4s linear 1.6s infinite;
          animation: drop 1.4s linear 1.6s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .med-raindrop-4 {
  left: 132px;
  width: 6px;
  height: 6px;
  opacity: .6;
  -webkit-animation: drop 1.4s linear 1.48s infinite;
          animation: drop 1.4s linear 1.48s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .med-raindrop-5 {
  left: 170px;
  width: 6px;
  height: 6px;
  opacity: .6;
  -webkit-animation: drop 1.5s linear 0.6s infinite;
          animation: drop 1.5s linear 0.6s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .med-raindrop-6 {
  left: 208px;
  width: 6px;
  height: 6px;
  opacity: .6;
  -webkit-animation: drop 1.4s linear 0.8s infinite;
          animation: drop 1.4s linear 0.8s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .med-raindrop-7 {
  left: 246px;
  width: 6px;
  height: 6px;
  opacity: .6;
  -webkit-animation: drop 1.4s linear 0.8s infinite;
          animation: drop 1.4s linear 0.8s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .med-raindrop-8 {
  left: 284px;
  width: 6px;
  height: 6px;
  opacity: .6;
  -webkit-animation: drop 1.4s linear 0.48s infinite;
          animation: drop 1.4s linear 0.48s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .med-raindrop-9 {
  left: 322px;
  width: 6px;
  height: 6px;
  opacity: .6;
  -webkit-animation: drop 1.4s linear 0.8s infinite;
          animation: drop 1.4s linear 0.8s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .med-raindrop-10 {
  left: 360px;
  width: 6px;
  height: 6px;
  opacity: .6;
  -webkit-animation: drop 1.4s linear 0.56s infinite;
          animation: drop 1.4s linear 0.56s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .small-raindrop-1 {
  left: 18px;
  width: 4px;
  height: 4px;
  opacity: .3;
  -webkit-animation: drop 2s linear 0.04s infinite;
          animation: drop 2s linear 0.04s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .small-raindrop-2 {
  left: 56px;
  width: 4px;
  height: 4px;
  opacity: .3;
  -webkit-animation: drop 2s linear 0.24s infinite;
          animation: drop 2s linear 0.24s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .small-raindrop-3 {
  left: 94px;
  width: 4px;
  height: 4px;
  opacity: .3;
  -webkit-animation: drop 2.1s linear 1.24s infinite;
          animation: drop 2.1s linear 1.24s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .small-raindrop-4 {
  left: 132px;
  width: 4px;
  height: 4px;
  opacity: .3;
  -webkit-animation: drop 2.1s linear 1.32s infinite;
          animation: drop 2.1s linear 1.32s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .small-raindrop-5 {
  left: 170px;
  width: 4px;
  height: 4px;
  opacity: .3;
  -webkit-animation: drop 2.1s linear 0.48s infinite;
          animation: drop 2.1s linear 0.48s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .small-raindrop-6 {
  left: 208px;
  width: 4px;
  height: 4px;
  opacity: .3;
  -webkit-animation: drop 2.1s linear 0.08s infinite;
          animation: drop 2.1s linear 0.08s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .small-raindrop-7 {
  left: 246px;
  width: 4px;
  height: 4px;
  opacity: .3;
  -webkit-animation: drop 2.1s linear 1s infinite;
          animation: drop 2.1s linear 1s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .small-raindrop-8 {
  left: 284px;
  width: 4px;
  height: 4px;
  opacity: .3;
  -webkit-animation: drop 2s linear 0.12s infinite;
          animation: drop 2s linear 0.12s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .small-raindrop-9 {
  left: 322px;
  width: 4px;
  height: 4px;
  opacity: .3;
  -webkit-animation: drop 2.1s linear 0.04s infinite;
          animation: drop 2.1s linear 0.04s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.frame .small-raindrop-10 {
  left: 360px;
  width: 4px;
  height: 4px;
  opacity: .3;
  -webkit-animation: drop 2.1s linear 1.2s infinite;
          animation: drop 2.1s linear 1.2s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(60deg);
            transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(60deg);
  }
  85% {
    -webkit-transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(60deg);
            transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(60deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
            transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(60deg);
            transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(60deg);
  }
  85% {
    -webkit-transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(60deg);
            transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(60deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
            transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
  }
}

@-webkit-keyframes rise {
  from {
    -webkit-transform: translate(-20px, 200px);
            transform: translate(-20px, 200px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes rise {
  from {
    -webkit-transform: translate(-20px, 200px);
            transform: translate(-20px, 200px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
/*# sourceMappingURL=styles.css.map */