@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    background: #264057;
    color: #666666;
    font-family: 'Open Sans', Helvetica, sans-serif;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .menu {
    position: absolute;
    z-index: 1;
    width: 170px;
    height: 270px;
    top: 15px;
    left: 20px;
    background: #43627D;
    border-radius: 3px;
    color: #93B2CD;
    transition: all .4s ease-in-out;
    ul {
        margin: 0;
        padding: 10px 0;
    }
    li {
        font-size: 14px;
        line-height: 14px;
        list-style: none;
        padding: 18px 17px;
        transition: all .3s ease-in-out;
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        cursor: pointer;
        span {
            margin-right: 8px;
        }
    }
    li:hover {
        color: #fff;
        background: #385269;
    }
    &.show-menu {
        transform: translateX(-50px)
    }
  }
  .panel {
      position: relative;
      z-index: 2;
      height: 300px;
      width: 300px;
      border-radius: 2px;
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      overflow: hidden;
      background: #fff;
      transition: all .4s ease-in-out;

      &.slide-panel {
          transform: translateX(125px);
      }
      .header {
          background: #5F98CD;
          height: 60px;
          width: 100%;
          

          .title {
              display: block;
              color: #fff;
              text-align: center;
              font-size: 15px;
              line-height: 60px;
          }
          .menu-graphic {
            position: absolute;

            width: 29px;
            height: 15px;
            top: 20px;
            left: 20px;
            cursor: pointer;

            &:hover {
				.dash-top, 
				.dash-bottom,
				.menu-circle {
					background: #fff;
                }
            }
                
            .dash-top {
                position: absolute;
                top: 5px;
                left: 0;
                width: 18px;
                height: 3px;
                background: #B2DAFF;
            }

            .menu-circle {
                position: absolute;
                top: 3px;
                left: 21px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #B2DAFF;
            }

            .dash-bottom {
                position: absolute;
                top:18px;
                left: 0;
                width: 29px;
                height: 3px;
                background: #B2DAFF;
            }
          }

          .search-bar {
              position: absolute;
              top: 15px;
              right: 45px;
              width: 230px;
              height: 30px;
              border-radius: 15px;
              border: none;
              padding: 0 10px;
              opacity: 0;
              pointer-events: none;
              font-size: 13px;
              transition: all .3s ease-in-out;
              transform: translateX(5px);

              &:focus {
				outline:none;
			}

            &.active {
                transform: translateX(0);
                opacity: 1;
                pointer-events: all;
            }

          }

          .search-box {
              z-index: 3;
              position: absolute;
              top: 20px;
              right: 20px;
              color: #B2DAFF;
              font-size: 21px;
              transition: all .3s ease;
              cursor: pointer;

              &:hover {
				color: #fff;
			}
          }
      }

      .notifications {
          background: #fff;
          color: #666666;
          position: relative;
          height: 100%;
          overflow: hidden;
          
          .line {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 27px;
            width: 3px;
            background: #ebebeb;
          }
          .notification {
            position: relative;
            margin: 25px 20px 25px 43px;
            font-size: 14px;
            font-weight: 400;
            
            @for $i from 2 through 4 {
				&:nth-child(#{$i}) {
					animation: here-am-i .5s ease-out ($i/5 + s);
					animation-fill-mode: both;
				}
			}
            		
			&:hover {
				color: #5f98cd;
				cursor: pointer;
			}

            .circle {
              position: absolute;
              top: 0px;
              left: -20px;
              box-sizing: border-box;
              height: 11px;
              width: 11px;
              border-radius: 6px;
              border: 2px solid #5f98cd;
              box-shadow: 0 0 0 3px #fff;
              background: white;

            }

            .time {
                display: block;
                font-size: 11px;
                line-height: 11px;
                font-weight: 400;
                padding-bottom: 5px;
            }

            p {
                font-size: 15px;
                line-height: 15px;
                margin: 0;
            }
          }

      }
  }


@keyframes here-am-i {
	from {
		transform: translate3d(0,50px,0);
		opacity: 0;
	}
	to {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}